<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-light m-3 m-6">


  <div style="text-align:center">
    <h1 class="mt-3">
      Welcome to {{ title }}!
    </h1>
  </div>
</div>
<div class="container row m-3 mt-6 bg-light">
  <div class=" col-6">
    <h3>few concepts to be remebered</h3>

    <code class="row m-1 bg-success text-white">fork</code>
    <code class="row m-1 bg-success text-white">clone</code>
    <code class="row m-1 bg-success text-white">remote</code>
    <code class="row m-1 bg-success text-white">branching</code>
    <code class="row m-1 bg-success text-white">commit && ammend commit</code>
    <code class="row m-1 bg-success text-white">push</code>
    <code class="row m-1 bg-success text-white">pull</code>
    <code class="row m-1 bg-success text-white">pull requests</code>
    <code class="row m-1 bg-success text-white">cherrypick</code>
  </div>
  <div class="col-6">
    <h3>few commands to be practiced</h3>
    <code class="row m-1 bg-secondary text-white">git checkout</code>
    <code class="row m-1 bg-secondary text-white">git pull</code>
    <code class="row m-1 bg-secondary text-white">git merge </code>
    <code class="row m-1 bg-secondary text-white">git rebase</code>
    <code class="row m-1 bg-secondary text-white">git commit</code>
    <code class="row m-1 bg-secondary text-white">git push</code>
    <code class="row m-1 bg-secondary text-white">git reset</code>
    <code class="row m-1 bg-secondary text-white">git stash</code>
  </div>
</div>